/*!
 * Start Bootstrap - Agency v5.2.1 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

@font-face {
  font-family: "Mariad-semibold";
  src: url("../../fonts/myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
  font-family: "HelveticaFF";
  src: url("../../fonts/helveticaneue/HelveticaNeue Medium.ttf");
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.text-behind {
  color: rgba(255, 210, 0, 0.9) !important;
  z-index: 1;
  padding-left: 10px;
}

h2 {
  position: relative;
  z-index: 111;
}

p {
  font-family: Helvetica;
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 24px;
  padding: 0 20px;
  letter-spacing: 2.4px;
  color: #2a1a51;
}

.btn-primary {
  background-color: transparent;
  border: 3px solid #ffd200;
  border-radius: 10px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
  background-color: #f4f4f4;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #2a1a51;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: Mariad-semibold !important;
  font-size: 16px;
  text-transform: lowercase;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #2a1a51;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #f4f4f4;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f4f4f4;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.masthead p {
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 2px;
  color: #2a1a51;
}

.masthead .btn-primary {
  border: 3px solid white;
}

header.masthead {
  text-align: center;
  background-color: #ffd200;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 39px;
  font-weight: bold;
  line-height: 0.62;
  letter-spacing: 14.04px;
  text-align: center;
  color: #ffffff;
}

header.masthead .intro-text .intro-heading {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2.2px;
  color: #2a1a51;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 250px;
    padding-bottom: 100px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 39px;
    font-weight: bold;
    line-height: 0.62;
    letter-spacing: 14.04px;
    text-align: left;
    color: #ffffff;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 5.2px;
    color: #2a1a51;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #2a1a51;
}

#services {
  position: relative;
}

#services .img-adv1 {
  position: absolute;
  top: 15px;
  right: 174px;
}

#services .yellow-circle-subheading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #2a1a51;
  margin-top: 20px;
  font-family: Helvetica;
}

#services i {
  border: 1px solid red;
  border-radius: 100px;
}

#services .yellow-circle {
  background-color: #ffd200;
  width: 120px;
  height: 120px;
  border: 3px solid #2a1a51;
  border-radius: 50%;
  font-size: 40px;
  color: #2a1a51;
  line-height: 120px;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: auto;
}

#services .etiket {
  position: absolute;
  bottom: -160px;
  right: 394px;
}

#services .text-behind {
  position: absolute;
  top: -5px;
  opacity: 0.5;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 210, 0, 0.5);
}

@media (max-width: 768px) {
  #services .yellow-circle-subheading {
    font-size: 11px;
    letter-spacing: 0;
    margin-top: 0;
  }
  #services .yellow-circle {
    width: 90px;
    height: 90px;
    font-size: 27px;
    line-height: 90px;
  }
  .circles-all > div {
    width: 49%;
    margin-bottom: 20px;
  }
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: unset;
  width: 100%;
  padding: 0 20px 0 40px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: unset;
  padding: 0 20px 0 40px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.58;
  letter-spacing: 3.6px;
  color: #2a1a51;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #2a1a51;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: unset;
    width: 58%;
    padding: 0 20px 20px 40px;
    margin: auto 0px;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: unset;
    padding: 0 30px 20px 20px;
    text-align: left;
    margin: auto 0px;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
    margin: auto 0px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
    margin: auto 0px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 40px;
    margin: auto 0px;
  }
  .timeline > li .timeline-image {
    width: 270px;
    height: 270px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
    margin: auto 0px;
  }
}

@media (max-width: 768px) {
  .timeline-inverted div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .timeline-panel {
    padding: 0 !important;
  }
  .timeline li {
    margin-bottom: 30px;
  }
  .timeline img {
    width: 50%;
    display: block;
    margin: 5px auto;
  }
  .timeline p {
    text-align: center;
    font-size: 14px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#team {
  background-color: #ffd200;
}

#team img {
  margin-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#team h4 {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

#team h4::after {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 32px;
  height: 16px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  content: '';
}

#team h4::before {
  position: absolute;
  bottom: -5px;
  left: -10px;
  width: 32px;
  height: 16px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  content: '';
}

#team .text-behind {
  position: absolute;
  top: -6px;
  opacity: 0.6;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9) !important;
}

#team .section-heading {
  z-index: 10;
}

#team li {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: left;
  color: #2a1a51;
  font-family: Helvetica;
  position: relative;
}

#team li::after {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: white;
  content: '';
  left: -20px;
  top: 10px;
  border-radius: 100px;
}

#team ul {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  #team img {
    margin-top: 30px;
    width: auto !important;
    height: 150px !important;
    margin-left: 30% !important;
    margin-right: auto;
  }
  #team h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #team ul {
    margin-left: 20px;
  }
  #team li {
    font-size: 14px;
    letter-spacing: .8px;
  }
}

section#contact {
  background-image: url("../img/footer.bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 50px;
}

section#contact .section-heading {
  color: #fff;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
}

section#contact .form-group {
  margin: 50px 0;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.16);
  border: 0;
}

section#contact .form-group input.form-control {
  height: auto;
  background-color: #ffd200;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact .contact-form {
  background-color: #f4f4f4;
  padding: 45px;
  border-radius: 10px;
}

section#contact span {
  margin-right: 75%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #2a1a51;
}

section#contact .contact-left-side {
  margin-top: 100px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #f4f4f4;
}

section#contact p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.8px;
  text-align: left;
  color: #ffffff;
  margin-top: 28px;
}

section#contact i {
  color: white;
  font-size: 36px;
}

section#contact .text-behind {
  position: absolute;
  top: 64px;
  opacity: 0.5;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 210, 0, 0.5);
}

section#contact h3 {
  line-height: 1.5;
  letter-spacing: 2.5px;
}

@media (max-width: 768px) {
  .contact-form {
    margin: 0 15px;
  }
  .contact-form .form-group {
    margin: 20px 0 !important;
  }
  .contact-form .form-group span {
    font-size: 13px !important;
  }
  .contact-form .form-group input, .contact-form .form-group textarea {
    padding: 5px !important;
  }
  .section-heading {
    color: #ffd200 !important;
    -webkit-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important;
  }
}

#about {
  background-color: #f4f4f4;
}

#about .rectangle {
  border: 12px solid #ffd200;
}

#about .text-background {
  border: 12px solid white;
}

#about h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

#about p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.9px;
  text-align: left;
  color: #2a1a51;
}

#about span {
  font-weight: bold;
}

#about .text-behind {
  position: absolute;
  top: 40px;
  opacity: 0.5;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 210, 0, 0.9);
}

#about img {
  max-height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .swiper-container {
  width: 420px;
  height: 438px;
  margin: auto auto;
}

#about .swiper-button-next, #about .swiper-button-prev {
  color: white;
}

#about .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  #about {
    padding-top: 0;
  }
  #about h2 {
    font-size: 24px !important;
    text-align: center;
  }
  #about p {
    font-size: 14px;
  }
  #about .swiper-container {
    width: 320px;
    height: 230px;
    margin: 0 auto;
  }
  #about .swiper-button-prev, #about .swiper-button-next {
    background-color: rgba(255, 210, 0, 0.9);
  }
}

#program {
  background-image: url("../img/program.bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#program .etiket {
  position: absolute;
  top: 194px;
  right: 327px;
}

#program i {
  color: #ffd200;
  font-size: 24px;
}

#program .section-heading {
  color: #2a1a51;
  z-index: 10;
}

#program .whitebox {
  background-color: white;
  width: 80%;
  padding: 24px 13px;
  margin: 12.5px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #2a1a51;
  margin-left: 20px;
}

#program .text-behind {
  position: absolute;
  top: -6px;
  opacity: 0.6;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 210, 0, 0.5);
}

#packets {
  background-color: #ffd200;
}

#packets .packets-header {
  background-color: #ffd200;
}

#packets .btn-primary {
  margin-left: 62px;
}

#packets .packets-main {
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  width: 320px;
  border-radius: 10px;
}

#packets .packets-main h3 {
  font-size: 40px;
}

#packets .packets-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#packets .packets-body {
  background-color: #f4f4f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#packets .text-behind {
  position: absolute;
  top: -6px;
  opacity: 0.6;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9) !important;
}

#packets .section-heading {
  z-index: 10;
}

#packets li {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.8px;
  text-align: left;
  color: #2a1a51;
  padding-right: 20px;
  position: relative;
}

@media (max-width: 768px) {
  #packets li {
    letter-spacing: .8px;
    font-size: 14px;
  }
}

#packets li::after {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #ffd200;
  content: '';
  left: -20px;
  top: 10px;
  border-radius: 100px;
}

#packets ul {
  list-style-type: none;
}

#packets .img-adv1 {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  #packets .btn-primary {
    margin-left: 92px;
  }
}

#review {
  background-color: #ffd200;
}

#review .swiper-container {
  width: 100%;
  height: 100%;
  border: 38px double white;
}

#review .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#review .rounded-circle {
  width: 270px;
  margin: 50px 70px 50px 100px;
  border: 12px solid #ffd200;
  -webkit-box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.75);
}

#review .bottom-images img {
  width: 100%;
  min-height: 350px;
}

#review .text-behind {
  position: absolute;
  top: -6px;
  opacity: 0.6;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9) !important;
}

#review .section-heading {
  z-index: 10;
}

#review p {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #2a1a51;
  font-family: Helvetica;
}

@media (max-width: 768px) {
  #review .bottom-images img {
    min-height: auto !important;
  }
  .swiper-slide img {
    display: block;
    width: 50%;
    margin: auto;
  }
  .swiper-slide p {
    font-size: 13px !important;
  }
  #review .swiper-button-next, #review .swiper-button-prev {
    top: 70px;
    outline: none;
  }
}

#exercise .text-behind {
  position: absolute;
  top: -5px;
  opacity: 0.5;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.79;
  letter-spacing: 7.2px;
  text-align: left;
  color: rgba(255, 210, 0, 0.9);
}

#exercise .section-heading {
  z-index: 10;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

@media (max-width: 768px) {
  .text-behind {
    max-width: 100%;
    font-size: 30px !important;
    display: none;
  }
  .masthead {
    padding-top: 70px;
  }
  .masthead .intro-text {
    padding: 20px 0 !important;
  }
  .masthead .intro-lead-in {
    font-size: 25px !important;
  }
  .masthead .text-after {
    font-size: 14px;
  }
  .btn-primary {
    font-size: 13px;
  }
  .page-section {
    padding: 30px 0;
  }
  .contact-form {
    padding: 20px !important;
  }
  .form-control {
    width: 80% !important;
  }
  .section-heading {
    font-size: 24px !important;
    text-align: center;
  }
  #team img {
    width: 70%;
  }
  #contact .contact-left-side {
    margin: 0 !important;
    padding: 20px 0 !important;
  }
  #contact h2 {
    margin: 0 !important;
    padding: 20px 0 !important;
  }
  #contact h3 {
    font-size: 14px;
  }
  #contact span {
    margin: 0 !important;
  }
  .timeline h4 {
    text-align: center;
    letter-spacing: .5px !important;
    font-size: 16px !important;
  }
  p {
    letter-spacing: .8px !important;
  }
  .packets-main {
    display: block;
    margin: auto;
  }
  .navbar-nav {
    text-align: center;
  }
  .whitebox {
    padding: 14px !important;
    font-size: 11px !important;
  }
}
