// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";



// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/about.scss";
@import "layout/program.scss";
@import "layout/packets.scss";
@import "layout/review.scss";
@import "layout/exercise.scss";
@import "layout/footer.scss";


@media (max-width: 768px) {
  .text-behind {
    max-width: 100%;
    font-size: 30px !important;
    display: none;
  }
  .masthead {
    padding-top: 70px;
    .intro-text{
      padding: 20px 0 !important;
    }
    .intro-lead-in {
      font-size: 25px !important;
    }
    .text-after {
      font-size: 14px;
    }
  }
  .btn-primary {
    font-size: 13px;
  }
  .page-section {
    padding: 30px 0;
  }
  .contact-form {
    padding: 20px !important;
  }
  .form-control {
    width: 80% !important;
  }
  .section-heading {
    font-size: 24px !important;
    text-align: center;
  }
  #team img {
    width: 70%;
  }
  #contact {
    .contact-left-side {
      margin:  0 !important;
      padding: 20px 0 !important;
    }
    h2 {
      margin: 0 !important;
      padding: 20px 0 !important;
    }
    h3 {
      font-size: 14px;
    }
    span {
      margin: 0 !important;
    }
  }
  .timeline {
    h4 {
      text-align: center;
      letter-spacing: .5px !important;
      font-size: 16px !important;
    }
  }
  p {
    letter-spacing: .8px !important;
  }
  .packets-main {
    display: block;
    margin: auto;
  }
  .navbar-nav {
    text-align: center;
  }
  .whitebox {
    padding: 14px !important;
    font-size: 11px !important;
  }
}
