#about {
  background-color: #f4f4f4;
  .rectangle {
    border: 12px solid #ffd200;
  }
  .text-background {
    border: 12px solid white;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 1.9px;
      text-align: left;
      color: #2a1a51;
  }
  span {
    font-weight: bold;
  }
  .text-behind {
    position: absolute;
    top: 40px;
    opacity: 0.5;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 210, 0, 0.9);
  }
  img {
    max-height: 450px;
    object-fit: cover;
  }
  .swiper-container {
    width: 420px;
    height: 438px;
    margin: auto auto;
  }
  .swiper-button-next, .swiper-button-prev {
    color: white;
  }
  .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #about {
    padding-top: 0;
    h2 {
      font-size: 24px !important;
      text-align: center;
    }
    p {
      font-size: 14px;
    }
    .swiper-container {
      width: 320px;
      height: 230px;
      margin: 0 auto;
    }
    .swiper-button-prev, .swiper-button-next {
      background-color: rgba(255, 210, 0, 0.9);;
    }
  }
}