// Styling for the contact section
section#contact {
  background-image: url('../img/footer.bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 50px;
  .section-heading {
    color: $white;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
  }
  .form-group {
    margin: 50px 0;
    input,
    textarea {
      padding: 20px;
      border-radius: 20px;
      width: 400px;
      margin: 0 auto;
      max-width: 100%;
      box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.16);
      border: 0;
    }
    input.form-control {
      height: auto;
      background-color: #ffd200;

    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  .contact-form {
    background-color: #f4f4f4;
    padding: 45px;
    border-radius: 10px;
  }
  span {
    margin-right: 75%;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.8px;
    color: #2a1a51;
  }
  .contact-left-side {
    margin-top: 100px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2.4px;
      color: #f4f4f4;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 1.8px;
    text-align: left;
    color: #ffffff;
    margin-top: 28px;
  }
  i {
    color: white;
    font-size: 36px;
  }
  .text-behind {
    position: absolute;
    top: 64px;
    opacity: 0.5;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 210, 0, 0.5);
  }

  h3 {
    line-height: 1.5;
    letter-spacing: 2.5px;
  }
}

@media (max-width: 768px) {
  .contact-form {
    margin: 0 15px;
    .form-group {
      margin: 20px 0 !important;
      span {
        font-size: 13px !important;
      }
      input, textarea {
        padding: 5px !important;
      }
    }
  }
  .section-heading {
    color: #ffd200 !important;
    -webkit-transform: translateY(-5px) !important;
    -moz-transform: translateY(-5px) !important;
    -ms-transform: translateY(-5px) !important;
    -o-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important;
  }
}