#exercise {
  .text-behind {
    position: absolute;
    top: -5px;
    opacity: 0.5;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 210, 0, 0.9);
  }
  .section-heading {
    z-index: 10;
  }
}
