// Styling for the masthead
.masthead {
  p {
      font-size: 20px;
      line-height: 1.65;
      letter-spacing: 2px;
      color: #2a1a51;
  }
  .btn-primary {
    border: 3px solid white;
  }
}
header.masthead {
  text-align: center;
  background-color: #ffd200;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 39px;
      font-weight: bold;
      line-height: 0.62;
      letter-spacing: 14.04px;
      text-align: center;
      color: #ffffff;
    }
    .intro-heading {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2.2px;
      color: #2a1a51;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 39px;
        font-weight: bold;
        line-height: 0.62;
        letter-spacing: 14.04px;
        text-align: left;
        color: #ffffff;
      }
      .intro-heading {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 5.2px;
        color: #2a1a51;
      }
    }
  }
}
