#packets {
  background-color: #ffd200;
  .packets-header {
    background-color: #ffd200;
  }
  .btn-primary {
    margin-left: 62px;
  }
  .packets-main {
    -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
    width: 320px;
    border-radius: 10px;

    h3 {
      font-size: 40px;
    }
  }
  .packets-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .packets-body {
    background-color:#f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .text-behind {
    position: absolute;
    top: -6px;
    opacity: 0.6;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9) !important;
  }
  .section-heading {
    z-index: 10;
  }
  li {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.8px;
    text-align: left;
    color: #2a1a51;
    padding-right: 20px;
    position: relative;
    @media (max-width: 768px) {
      letter-spacing: .8px;
      font-size: 14px;
    }
  }
  li::after {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ffd200;
    content: '';
    left: -20px;
    top: 10px;
    border-radius: 100px;
  }
  ul {
    list-style-type: none;
  }

  .img-adv1 {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 768px) {
  #packets {
    .btn-primary {
      margin-left: 92px;
    }
  }
}
