#program {
  background-image: url('../img/program.bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .etiket {
    position: absolute;
    top: 192px;
    right: 327px;
  }
  i {
    color: #ffd200;
    font-size: 24px;
  }
  .section-heading {
    color: #2a1a51;
    z-index: 10;
  }
  .whitebox {
    background-color: white;
    width: 80%;
    padding: 24px 13px;
    margin: 12.5px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.8px;
    color: #2a1a51;
    margin-left: 20px;
  }
  .text-behind {
    position: absolute;
    top: -6px;
    opacity: 0.6;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 210, 0, 0.5);
  }
}