#review {
  background-color: #ffd200;
  .feed-vid {
    //-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
    //-moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
    //box-shadow: 0 0 4px 1px rgba(0,0,0,0.75);
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    border: 38px double white;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .white-border {
    //border: 12px solid yellow;
  }
  .rounded-circle {
    width: 270px;
    margin: 50px 70px 50px 100px;
    border: 12px solid #ffd200;
    -webkit-box-shadow: 0 0 24px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 24px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 24px 1px rgba(0,0,0,0.75);
  }
  .bottom-images {
    img {
      width: 100%;
      min-height: 350px;
    }
  }
  .text-behind {
    position: absolute;
    top: -6px;
    opacity: 0.6;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9) !important;
  }
  .section-heading {
    z-index: 10;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.8px;
    color: #2a1a51;
    font-family: Helvetica;
  }
}

@media (max-width: 768px) {

    #review .bottom-images img {
      min-height: auto !important;
    }
    .swiper-slide {
      img {
        display: block;
        width: 50%;
        margin: auto;
      }
      p {
        font-size: 13px !important;
      }
    }

  #review {
    .swiper-button-next, .swiper-button-prev {
      top: 70px;
      outline: none;
    }
  }
}