// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.8px;
    color: #2a1a51;
}
#services{
  position: relative;
  .img-adv1 {
    position: absolute;
    top: 15px;
    right: 174px;
  }
  .yellow-circle-subheading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.8px;
    color: #2a1a51;
    margin-top: 20px;
    font-family: Helvetica;
  }
  i {
    border: 1px solid red;
    border-radius: 100px;
  }
  .yellow-circle {
    background-color: #ffd200;
    width: 120px;
    height: 120px;
    border: 3px solid #2a1a51;
    border-radius: 50%;
    font-size: 40px;
    color: #2a1a51;
    line-height: 120px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
  }
  .etiket {
    position: absolute;
    bottom: -160px;
    right: 394px;
  }
  .text-behind {
    position: absolute;
    top: -5px;
    opacity: 0.5;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 210, 0, 0.5);
  }

}

@media (max-width: 768px) {
  #services {
    .yellow-circle-subheading {
      font-size: 11px;
      letter-spacing: 0;
      margin-top: 0;
    }
    .yellow-circle {
      width: 90px;
      height: 90px;
      font-size: 27px;
      line-height: 90px;
    }
  }
  .circles-all {
    &>div {
      width: 49%;
      margin-bottom: 20px;
    }
  }

}

