// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
#team {
  background-color: #ffd200;
  img {
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
  }
  h4::after {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 32px;
    height: 16px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    content: '';
  }
  h4::before {
    position: absolute;
    bottom: -5px;
    left: -10px;
    width: 32px;
    height: 16px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    content: '';
  }

  .text-behind {
    position: absolute;
    top: -6px;
    opacity: 0.6;
    font-size: 72px;
    font-weight: bold;
    line-height: 0.79;
    letter-spacing: 7.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9) !important;
  }
  .section-heading {
    z-index: 10;
  }
  li {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: left;
    color: #2a1a51;
    font-family: Helvetica;
    position: relative;
  }
  li::after {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    content: '';
    left: -20px;
    top: 10px;
    border-radius: 100px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #team {
    img {
      margin-top: 30px;
      width: auto !important;
      height: 150px !important;
      margin-left: 30% !important;
      margin-right: auto;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    ul {
      margin-left: 20px;
    }
    li {
      font-size: 14px;
      letter-spacing: .8px;
    }
  }
}