// Styling for the timeline section
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    //position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: $gray-200;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    &:after,
    &:before {
      display: table;
      content: ' ';
    }
    &:after {
      clear: both;
    }
    .timeline-panel {
      position: relative;
      float: unset;
      width: 100%;
      padding: 0 20px 0 40px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      //position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: white;
      border: 7px solid $gray-200;
      border-radius: 100%;
      background-color: $primary;
      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: unset;
      padding: 0 20px 0 40px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .timeline-heading {
    h4 {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.58;
        letter-spacing: 3.6px;
        color: #2a1a51;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .timeline-body {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 2px;
      color: #2a1a51;
     > ul,
    > p {
      margin-bottom: 0;
    }
  }
}
@media(min-width:768px) {
  .timeline {
    &:before {
      left: 50%;
    }
    > li {
      min-height: 100px;
      margin-bottom: 100px;
      .timeline-panel {
        float: unset;
        width: 58%;
        padding: 0 20px 20px 40px;
        margin: auto 0px;
      }
      .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: unset;
        padding: 0 30px 20px 20px;
        text-align: left;
        margin: auto 0px;

      }
    }
  }
}
@media(min-width:992px) {
  .timeline {
    > li {
      min-height: 150px;
      .timeline-panel {
        padding: 0 20px 20px;
        margin: auto 0px;

      }
      .timeline-image {
        width: 150px;
        height: 150px;
        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
        margin: auto 0px;

      }
    }
  }
}
@media(min-width:1200px) {
  .timeline {
    > li {
      min-height: 170px;
      .timeline-panel {
        padding: 0 20px 20px 40px;
        margin: auto 0px;

      }
      .timeline-image {
        width: 270px;
        height: 270px;
        h4 {
          margin-top: 40px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
        margin: auto 0px;

      }
    }
  }
}

@media (max-width: 768px) {
  .timeline-inverted div {
    flex-direction: column-reverse !important;
  }
  .timeline-panel {
    padding: 0 !important;
  }
  .timeline {
    li {
      margin-bottom: 30px;
    }
    img {
      width: 50%;
      display: block;
      margin: 5px auto;
    }
    .timeline-panel {
    }
    p {
      text-align: center;
      font-size: 14px;
    }
  }
}