// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 24px;
  padding: 0 20px;
  letter-spacing: 2.4px;
  color: #2a1a51;
}

.btn-primary {
  background-color: transparent;
  border: 3px solid #ffd200;
  border-radius: 10px;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
